In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipe构建

In [4]:
from easymlops import TablePipeLine
from easymlops.table.encoding import *
from easymlops.table.preprocessing import *
from easymlops.table.decomposition import *

In [5]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(OneHotEncoding(cols=["Pclass","Sex"],drop_col=False))\
  .pipe(LabelEncoding(cols=["Sex","Pclass"]))\
  .pipe(TargetEncoding(cols=["Name","Ticket","Embarked","Cabin"],y=y_train))\
  .pipe(PCADecomposition(n_components=4))

x_test_new=table.fit(x_train).transform(x_test)
x_test_new.head(5)

              0          1          2         3
500  250.112345 -27.094263  -5.834681 -0.180072
501  251.117740 -27.780595  -1.800523 -0.126844
502  252.017948 -29.148183 -22.754797 -0.559051
503  253.218362 -25.038429  14.051809  0.198428
504  255.219418  50.498563 -11.401874 -1.090809

### 性能、一致性测试

In [6]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.OneHotEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.LabelEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.TargetEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.decomposition.PCADecomposition'>) module check [transform] complete,speed:[10.15ms]/it,cpu:[83%],memory:[104K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[4.24ms]/it,cpu:[25%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[4.49ms]/it,cpu:[33%],memory:[0K]
column:[Name] check [null value] complete,speed:[4.15ms]/it,cpu:[22%],memory:[4K]
column:[Sex] check [null value] complete,speed:[4.73ms]/it,cpu:[38%],memory:[0K]
column:[Age] check [null value] complete,speed:[4.45ms]/it,cpu:[52%],memory:[8856K]
column:[SibSp] check [null value] complete,speed:[4.26ms]/it,cpu:[73%],memory:[0K]
column:[Parch] check [null value] complete,speed:[5.31ms]/it,cpu:[36%],memory:[108K]
column:[Ticket] check [null value] complete,speed:[4.74ms]/it,cpu:[37%],memory:[2876K]
column:[Fare] check [null value] complete,speed:[4.85ms]/it,cpu:[25%],memory:[4K]
column:[Cabin] check [null value] complete,speed:[4.51ms]/it,cpu:[94%],memory:[756K]
column:[Embarked] check [null value] complete,speed:[4.99ms]/it,cpu:[50%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[4.47ms]/it,cpu:[66%],memory:[22764K]
column:[Pclass] check [extreme value] complete,speed:[4.25ms]/it,cpu:[27%],memory:[568K]
column:[Name] check [extreme value] complete,speed:[4.43ms]/it,cpu:[47%],memory:[8340K]
column:[Sex] check [extreme value] complete,speed:[4.44ms]/it,cpu:[40%],memory:[1984K]
column:[Age] check [extreme value] complete,speed:[4.3ms]/it,cpu:[88%],memory:[444K]
column:[SibSp] check [extreme value] complete,speed:[4.65ms]/it,cpu:[44%],memory:[372K]
column:[Parch] check [extreme value] complete,speed:[4.81ms]/it,cpu:[72%],memory:[296K]
column:[Ticket] check [extreme value] complete,speed:[4.28ms]/it,cpu:[33%],memory:[4848K]
column:[Fare] check [extreme value] complete,speed:[4.14ms]/it,cpu:[33%],memory:[296K]
column:[Cabin] check [extreme value] complete,speed:[4.23ms]/it,cpu:[44%],memory:[52K]
column:[Embarked] check [extreme value] complete,speed:[4.34ms]/it,cpu:[38%],memory:[40K]
column:[__all__] check [extreme value] complete,speed:[4.24ms]/it,cpu:[100%],memory:[1068K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[4.65ms]/it,cpu:[91%],memory:[8136K]
column:[Pclass] check [inverse type] complete,speed:[4.46ms]/it,cpu:[41%],memory:[240K]
column:[Name] check [inverse type] complete,speed:[4.34ms]/it,cpu:[33%],memory:[988K]
column:[Sex] check [inverse type] complete,speed:[5.02ms]/it,cpu:[81%],memory:[1136K]
column:[Age] check [inverse type] complete,speed:[4.41ms]/it,cpu:[44%],memory:[4768K]
column:[SibSp] check [inverse type] complete,speed:[4.02ms]/it,cpu:[30%],memory:[9684K]
column:[Parch] check [inverse type] complete,speed:[4.76ms]/it,cpu:[44%],memory:[2496K]
column:[Ticket] check [inverse type] complete,speed:[4.09ms]/it,cpu:[29%],memory:[248K]
column:[Fare] check [inverse type] complete,speed:[4.69ms]/it,cpu:[37%],memory:[1172K]
column:[Cabin] check [inverse type] complete,speed:[4.86ms]/it,cpu:[91%],memory:[504K]
column:[Embarked] check [inverse type] complete,speed:[4.35ms]/it,cpu:[45%],memory:[4880K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[4.69ms]/it,cpu:[20%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[4.69ms]/it,cpu:[16%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[4.69ms]/it,cpu:[27%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[4.69ms]/it,cpu:[16%],memory:[0K]

### 持久化测试

In [7]:
table.save("ml.pkl")

In [8]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(OneHotEncoding(cols=["Pclass","Sex"],drop_col=False))\
  .pipe(LabelEncoding(cols=["Sex","Pclass"]))\
  .pipe(TargetEncoding(cols=["Name","Ticket","Embarked","Cabin"]))\
  .pipe(PCADecomposition(n_components=4))

table.load("ml.pkl")

In [9]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.OneHotEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.LabelEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.TargetEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.decomposition.PCADecomposition'>) module check [transform] complete,speed:[4.02ms]/it,cpu:[25%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[4.45ms]/it,cpu:[16%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[4.56ms]/it,cpu:[92%],memory:[0K]
column:[Name] check [null value] complete,speed:[4.35ms]/it,cpu:[16%],memory:[0K]
column:[Sex] check [null value] complete,speed:[4.38ms]/it,cpu:[16%],memory:[0K]
column:[Age] check [null value] complete,speed:[4.73ms]/it,cpu:[33%],memory:[8K]
column:[SibSp] check [null value] complete,speed:[4.48ms]/it,cpu:[16%],memory:[0K]
column:[Parch] check [null value] complete,speed:[4.26ms]/it,cpu:[32%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[4.55ms]/it,cpu:[16%],memory:[0K]
column:[Fare] check [null value] complete,speed:[4.66ms]/it,cpu:[25%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[4.12ms]/it,cpu:[16%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[4.15ms]/it,cpu:[14%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[4.86ms]/it,cpu:[75%],memory:[256K]
column:[Pclass] check [extreme value] complete,speed:[4.52ms]/it,cpu:[47%],memory:[3720K]
column:[Name] check [extreme value] complete,speed:[4.36ms]/it,cpu:[46%],memory:[1080K]
column:[Sex] check [extreme value] complete,speed:[4.22ms]/it,cpu:[32%],memory:[100K]
column:[Age] check [extreme value] complete,speed:[4.49ms]/it,cpu:[36%],memory:[1140K]
column:[SibSp] check [extreme value] complete,speed:[4.55ms]/it,cpu:[83%],memory:[2232K]
column:[Parch] check [extreme value] complete,speed:[4.3ms]/it,cpu:[69%],memory:[3800K]
column:[Ticket] check [extreme value] complete,speed:[4.74ms]/it,cpu:[67%],memory:[3100K]
column:[Fare] check [extreme value] complete,speed:[5.19ms]/it,cpu:[94%],memory:[48K]
column:[Cabin] check [extreme value] complete,speed:[4.36ms]/it,cpu:[42%],memory:[2848K]
column:[Embarked] check [extreme value] complete,speed:[4.28ms]/it,cpu:[22%],memory:[24K]
column:[__all__] check [extreme value] complete,speed:[4.59ms]/it,cpu:[89%],memory:[4104K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[4.46ms]/it,cpu:[27%],memory:[28K]
column:[Pclass] check [inverse type] complete,speed:[4.3ms]/it,cpu:[30%],memory:[40K]
column:[Name] check [inverse type] complete,speed:[4.58ms]/it,cpu:[31%],memory:[60K]
column:[Sex] check [inverse type] complete,speed:[4.4ms]/it,cpu:[30%],memory:[28K]
column:[Age] check [inverse type] complete,speed:[4.24ms]/it,cpu:[39%],memory:[2732K]
column:[SibSp] check [inverse type] complete,speed:[4.23ms]/it,cpu:[35%],memory:[24K]
column:[Parch] check [inverse type] complete,speed:[4.35ms]/it,cpu:[33%],memory:[2200K]
column:[Ticket] check [inverse type] complete,speed:[4.38ms]/it,cpu:[33%],memory:[68K]
column:[Fare] check [inverse type] complete,speed:[4.58ms]/it,cpu:[84%],memory:[116K]
column:[Cabin] check [inverse type] complete,speed:[4.51ms]/it,cpu:[91%],memory:[3840K]
column:[Embarked] check [inverse type] complete,speed:[4.35ms]/it,cpu:[33%],memory:[32K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[4.69ms]/it,cpu:[16%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[7.4ms]/it,cpu:[54%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[4.69ms]/it,cpu:[71%],memory:[16K]
column:[Parch] check [int trans float] complete,speed:[4.71ms]/it,cpu:[44%],memory:[0K]

In [10]:
table.transform(x_test[:5])

              0          1          2         3
500  250.112345 -27.094263  -5.834681 -0.180072
501  251.117740 -27.780595  -1.800523 -0.126844
502  252.017948 -29.148183 -22.754797 -0.559051
503  253.218362 -25.038429  14.051809  0.198428
504  255.219418  50.498563 -11.401874 -1.090809

In [11]:
x_test_new.head(5)

              0          1          2         3
500  250.112345 -27.094263  -5.834681 -0.180072
501  251.117740 -27.780595  -1.800523 -0.126844
502  252.017948 -29.148183 -22.754797 -0.559051
503  253.218362 -25.038429  14.051809  0.198428
504  255.219418  50.498563 -11.401874 -1.090809