In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipe构建

In [4]:
from easymlops import NLPPipeline
from easymlops.table.preprocessing import *
from easymlops.table.encoding import *
from easymlops.nlp.preprocessing import *
from easymlops.nlp.representation import *
from easymlops.table.perfopt import *

In [5]:
nlp=NLPPipeline()
nlp.pipe(FixInput())\
   .pipe(FillNa())\
   .pipe(SelectCols(cols=["Name","Age"]))\
   .pipe(Lower(cols=["Name"]))\
   .pipe(RemovePunctuation(cols=["Name"]))\
   .pipe(TFIDF(cols=["Name"]))\

x_test_new=nlp.fit(x_train).transform(x_test)
x_test_new.head(5)

,tfidf_Name_,tfidf_Name_a,tfidf_Name_abbott,tfidf_Name_abelson,tfidf_Name_achem,tfidf_Name_achille,tfidf_Name_achilles,tfidf_Name_ada,tfidf_Name_adahl,tfidf_Name_adams,...,tfidf_Name_y,tfidf_Name_yoto,tfidf_Name_young,tfidf_Name_youseff,tfidf_Name_yousif,tfidf_Name_youssef,tfidf_Name_yousseff,tfidf_Name_yrois,tfidf_Name_zabour,tfidf_Name_zimmerman
500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
x_test_new.memory_usage().sum()//1024

11

### 性能、一致性测试

In [7]:
nlp.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.3ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.core.SelectCols'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.Lower'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.RemovePunctuation'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.representation.TFIDF'>) module check [transform] complete,speed:[103.94ms]/it,cpu:[42%],memory:[23732K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[102.55ms]/it,cpu:[34%],memory:[5148K]
column:[Pclass] check [null value] complete,speed:[101.59ms]/it,cpu:[32%],memory:[3748K]
column:[Name] check [null value] complete,speed:[100.31ms]/it,cpu:[30%],memory:[3176K]
column:[Sex] check [null value] complete,speed:[104.05ms]/it,cpu:[27%],memory:[1072K]
column:[Age] check [null value] complete,speed:[100.79ms]/it,cpu:[28%],memory:[1044K]
column:[SibSp] check [null value] complete,speed:[101.72ms]/it,cpu:[24%],memory:[3084K]
column:[Parch] check [null value] complete,speed:[104.62ms]/it,cpu:[41%],memory:[2356K]
column:[Ticket] check [null value] complete,speed:[101.24ms]/it,cpu:[22%],memory:[5944K]
column:[Fare] check [null value] complete,speed:[100.28ms]/it,cpu:[47%],memory:[15896K]
column:[Cabin] check [null value] complete,speed:[102.12ms]/it,cpu:[20%],memory:[200K]
column:[Embarked] check [null value] complete,speed:[102.57ms]/it,cpu:[28%],memory:[1704K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[100.97ms]/it,cpu:[48%],memory:[7108K]
column:[Pclass] check [extreme value] complete,speed:[106.34ms]/it,cpu:[57%],memory:[9752K]
column:[Name] check [extreme value] complete,speed:[107.3ms]/it,cpu:[44%],memory:[7736K]
column:[Sex] check [extreme value] complete,speed:[105.87ms]/it,cpu:[50%],memory:[25924K]
column:[Age] check [extreme value] complete,speed:[102.66ms]/it,cpu:[46%],memory:[6908K]
column:[SibSp] check [extreme value] complete,speed:[105.8ms]/it,cpu:[69%],memory:[8740K]
column:[Parch] check [extreme value] complete,speed:[103.04ms]/it,cpu:[60%],memory:[26520K]
column:[Ticket] check [extreme value] complete,speed:[103.56ms]/it,cpu:[41%],memory:[43148K]
column:[Fare] check [extreme value] complete,speed:[105.41ms]/it,cpu:[57%],memory:[11472K]
column:[Cabin] check [extreme value] complete,speed:[102.84ms]/it,cpu:[31%],memory:[3908K]
column:[Embarked] check [extreme value] complete,speed:[105.82ms]/it,cpu:[55%],memory:[3636K]
column:[__all__] check [extreme value] complete,speed:[105.35ms]/it,cpu:[58%],memory:[8100K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[99.31ms]/it,cpu:[44%],memory:[13152K]
column:[Pclass] check [inverse type] complete,speed:[101.44ms]/it,cpu:[32%],memory:[34176K]
column:[Name] check [inverse type] complete,speed:[103.35ms]/it,cpu:[36%],memory:[34444K]
column:[Sex] check [inverse type] complete,speed:[105.09ms]/it,cpu:[45%],memory:[7064K]
column:[Age] check [inverse type] complete,speed:[103.66ms]/it,cpu:[64%],memory:[8600K]
column:[SibSp] check [inverse type] complete,speed:[103.24ms]/it,cpu:[40%],memory:[19200K]
column:[Parch] check [inverse type] complete,speed:[103.57ms]/it,cpu:[47%],memory:[7764K]
column:[Ticket] check [inverse type] complete,speed:[102.8ms]/it,cpu:[60%],memory:[12548K]
column:[Fare] check [inverse type] complete,speed:[107.11ms]/it,cpu:[57%],memory:[7720K]
column:[Cabin] check [inverse type] complete,speed:[105.9ms]/it,cpu:[43%],memory:[9488K]
column:[Embarked] check [inverse type] complete,speed:[104.32ms]/it,cpu:[38%],memory:[12048K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[102.11ms]/it,cpu:[42%],memory:[372K]
column:[Pclass] check [int trans float] complete,speed:[106.72ms]/it,cpu:[40%],memory:[5004K]
column:[SibSp] check [int trans float] complete,speed:[98.85ms]/it,cpu:[19%],memory:[1024K]
column:[Parch] check [int trans float] complete,speed:[99.7ms]/it,cpu:[35%],memory:[3408K]

### 持久化测试

In [8]:
nlp.save("ml.pkl")

In [9]:
nlp=NLPPipeline()
nlp.pipe(FixInput())\
   .pipe(FillNa())\
   .pipe(SelectCols(cols=["Name","Age"]))\
   .pipe(Lower(cols=["Name"]))\
   .pipe(RemovePunctuation(cols=["Name"]))\
   .pipe(TFIDF(cols=["Name"]))\

nlp.load("ml.pkl")

In [10]:
nlp.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.31ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.core.SelectCols'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.Lower'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.RemovePunctuation'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.representation.TFIDF'>) module check [transform] complete,speed:[92.07ms]/it,cpu:[19%],memory:[252K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[105.89ms]/it,cpu:[44%],memory:[23576K]
column:[Pclass] check [null value] complete,speed:[103.6ms]/it,cpu:[65%],memory:[3844K]
column:[Name] check [null value] complete,speed:[104.04ms]/it,cpu:[54%],memory:[8436K]
column:[Sex] check [null value] complete,speed:[106.34ms]/it,cpu:[80%],memory:[2040K]
column:[Age] check [null value] complete,speed:[105.39ms]/it,cpu:[34%],memory:[9084K]
column:[SibSp] check [null value] complete,speed:[104.89ms]/it,cpu:[20%],memory:[128K]
column:[Parch] check [null value] complete,speed:[102.75ms]/it,cpu:[21%],memory:[40K]
column:[Ticket] check [null value] complete,speed:[105.86ms]/it,cpu:[70%],memory:[3692K]
column:[Fare] check [null value] complete,speed:[107.46ms]/it,cpu:[42%],memory:[72K]
column:[Cabin] check [null value] complete,speed:[102.41ms]/it,cpu:[18%],memory:[32K]
column:[Embarked] check [null value] complete,speed:[103.13ms]/it,cpu:[21%],memory:[68K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[103.81ms]/it,cpu:[79%],memory:[16884K]
column:[Pclass] check [extreme value] complete,speed:[106.29ms]/it,cpu:[69%],memory:[26156K]
column:[Name] check [extreme value] complete,speed:[109.75ms]/it,cpu:[66%],memory:[11068K]
column:[Sex] check [extreme value] complete,speed:[106.13ms]/it,cpu:[47%],memory:[7816K]
column:[Age] check [extreme value] complete,speed:[106.14ms]/it,cpu:[40%],memory:[11516K]
column:[SibSp] check [extreme value] complete,speed:[101.75ms]/it,cpu:[24%],memory:[4120K]
column:[Parch] check [extreme value] complete,speed:[104.9ms]/it,cpu:[55%],memory:[12344K]
column:[Ticket] check [extreme value] complete,speed:[103.52ms]/it,cpu:[27%],memory:[7664K]
column:[Fare] check [extreme value] complete,speed:[105.8ms]/it,cpu:[44%],memory:[23384K]
column:[Cabin] check [extreme value] complete,speed:[104.58ms]/it,cpu:[44%],memory:[8816K]
column:[Embarked] check [extreme value] complete,speed:[105.35ms]/it,cpu:[45%],memory:[10432K]
column:[__all__] check [extreme value] complete,speed:[105.44ms]/it,cpu:[59%],memory:[13184K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[102.4ms]/it,cpu:[47%],memory:[43332K]
column:[Pclass] check [inverse type] complete,speed:[104.85ms]/it,cpu:[49%],memory:[42564K]
column:[Name] check [inverse type] complete,speed:[104.64ms]/it,cpu:[58%],memory:[19068K]
column:[Sex] check [inverse type] complete,speed:[108.43ms]/it,cpu:[44%],memory:[8116K]
column:[Age] check [inverse type] complete,speed:[106.27ms]/it,cpu:[67%],memory:[27684K]
column:[SibSp] check [inverse type] complete,speed:[105.55ms]/it,cpu:[54%],memory:[6716K]
column:[Parch] check [inverse type] complete,speed:[107.29ms]/it,cpu:[55%],memory:[7536K]
column:[Ticket] check [inverse type] complete,speed:[106.87ms]/it,cpu:[50%],memory:[10740K]
column:[Fare] check [inverse type] complete,speed:[108.65ms]/it,cpu:[49%],memory:[6120K]
column:[Cabin] check [inverse type] complete,speed:[103.73ms]/it,cpu:[46%],memory:[16084K]
column:[Embarked] check [inverse type] complete,speed:[110.29ms]/it,cpu:[49%],memory:[13772K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[104.21ms]/it,cpu:[64%],memory:[1048K]
column:[Pclass] check [int trans float] complete,speed:[104.97ms]/it,cpu:[50%],memory:[5332K]
column:[SibSp] check [int trans float] complete,speed:[110.97ms]/it,cpu:[36%],memory:[7584K]
column:[Parch] check [int trans float] complete,speed:[100.72ms]/it,cpu:[32%],memory:[180K]

In [11]:
nlp.transform(x_test[:5])

,tfidf_Name_,tfidf_Name_a,tfidf_Name_abbott,tfidf_Name_abelson,tfidf_Name_achem,tfidf_Name_achille,tfidf_Name_achilles,tfidf_Name_ada,tfidf_Name_adahl,tfidf_Name_adams,...,tfidf_Name_y,tfidf_Name_yoto,tfidf_Name_young,tfidf_Name_youseff,tfidf_Name_yousif,tfidf_Name_youssef,tfidf_Name_yousseff,tfidf_Name_yrois,tfidf_Name_zabour,tfidf_Name_zimmerman
500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
x_test_new.head(5)

,tfidf_Name_,tfidf_Name_a,tfidf_Name_abbott,tfidf_Name_abelson,tfidf_Name_achem,tfidf_Name_achille,tfidf_Name_achilles,tfidf_Name_ada,tfidf_Name_adahl,tfidf_Name_adams,...,tfidf_Name_y,tfidf_Name_yoto,tfidf_Name_young,tfidf_Name_youseff,tfidf_Name_yousif,tfidf_Name_youssef,tfidf_Name_yousseff,tfidf_Name_yrois,tfidf_Name_zabour,tfidf_Name_zimmerman
500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0