In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipe构建

In [4]:
from easymlops import NLPPipeline
from easymlops.table.preprocessing import *
from easymlops.table.encoding import *
from easymlops.nlp.preprocessing import *

In [7]:
nlp=NLPPipeline()
nlp.pipe(FixInput())\
   .pipe(FillNa())\
   .pipe(TargetEncoding(cols=["Sex","Ticket","Cabin","Embarked"],y=y_train))\
   .pipe(Lower(cols=["Name"]))\
   .pipe(ReplacePunctuation(cols=["Name"],symbols=""))

x_test_new=nlp.fit(x_train).transform(x_test)
x_test_new.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
500,501,3,calic mr petar,0.171429,17.0,0,0,0.0,8.664062,0.317829,0.334254
501,502,3,canavan miss mary,0.751351,21.0,0,0,0.0,7.750000,0.317829,0.511111
502,503,3,osullivan miss bridget mary,0.751351,0.0,0,0,0.0,7.628906,0.317829,0.511111
503,504,3,laitinen miss kristina sofia,0.751351,37.0,0,0,0.0,9.585938,0.317829,0.334254
504,505,1,maioni miss roberta,0.751351,16.0,0,0,1.0,86.500000,0.000000,0.334254

### 性能、一致性测试

In [8]:
nlp.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.2ms]/it,cpu:[11%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.TargetEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.Lower'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.ReplacePunctuation'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[0.03ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[0.12ms]/it,cpu:[0%],memory:[0K]
column:[Name] check [null value] complete,speed:[0.3ms]/it,cpu:[0%],memory:[0K]
column:[Sex] check [null value] complete,speed:[0.64ms]/it,cpu:[0%],memory:[0K]
column:[Age] check [null value] complete,speed:[0.04ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[0.29ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [null value] complete,speed:[0.36ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[1.0ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [null value] complete,speed:[0.89ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[0.31ms]/it,cpu:[0%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[0.5ms]/it,cpu:[0%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[0.7ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [extreme value] complete,speed:[0.46ms]/it,cpu:[0%],memory:[0K]
column:[Name] check [extreme value] complete,speed:[0.13ms]/it,cpu:[0%],memory:[0K]
column:[Sex] check [extreme value] complete,speed:[0.37ms]/it,cpu:[0%],memory:[0K]
column:[Age] check [extreme value] complete,speed:[0.63ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [extreme value] complete,speed:[0.45ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [extreme value] complete,speed:[0.21ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [extreme value] complete,speed:[0.32ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [extreme value] complete,speed:[0.44ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [extreme value] complete,speed:[0.34ms]/it,cpu:[0%],memory:[0K]
column:[Embarked] check [extreme value] complete,speed:[0.31ms]/it,cpu:[0%],memory:[0K]
column:[__all__] check [extreme value] complete,speed:[0.34ms]/it,cpu:[0%],memory:[0K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[0.35ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [inverse type] complete,speed:[0.63ms]/it,cpu:[0%],memory:[0K]
column:[Name] check [inverse type] complete,speed:[0.24ms]/it,cpu:[0%],memory:[0K]
column:[Sex] check [inverse type] complete,speed:[1.1ms]/it,cpu:[0%],memory:[0K]
column:[Age] check [inverse type] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [inverse type] complete,speed:[0.98ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [inverse type] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [inverse type] complete,speed:[0.14ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [inverse type] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [inverse type] complete,speed:[0.1ms]/it,cpu:[0%],memory:[0K]
column:[Embarked] check [inverse type] complete,speed:[0.21ms]/it,cpu:[0%],memory:[0K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[1.61ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]

### 持久化测试

In [9]:
nlp.save("ml.pkl")

In [10]:
nlp=NLPPipeline()
nlp.pipe(FixInput())\
   .pipe(FillNa())\
   .pipe(TargetEncoding(cols=["Sex","Ticket","Cabin","Embarked"],y=y_train))\
   .pipe(Lower(cols=["Name"]))\
   .pipe(ReplacePunctuation(cols=["Name"],symbols=""))

nlp.load("ml.pkl")

In [11]:
nlp.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.TargetEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.Lower'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.ReplacePunctuation'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[0.45ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[0.22ms]/it,cpu:[0%],memory:[0K]
column:[Name] check [null value] complete,speed:[0.3ms]/it,cpu:[0%],memory:[0K]
column:[Sex] check [null value] complete,speed:[0.1ms]/it,cpu:[0%],memory:[0K]
column:[Age] check [null value] complete,speed:[0.63ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[0.6ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [null value] complete,speed:[0.48ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[0.18ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [null value] complete,speed:[0.46ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[0.11ms]/it,cpu:[0%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[0.62ms]/it,cpu:[0%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[0.33ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [extreme value] complete,speed:[0.33ms]/it,cpu:[0%],memory:[0K]
column:[Name] check [extreme value] complete,speed:[0.28ms]/it,cpu:[0%],memory:[0K]
column:[Sex] check [extreme value] complete,speed:[0.37ms]/it,cpu:[0%],memory:[0K]
column:[Age] check [extreme value] complete,speed:[0.35ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [extreme value] complete,speed:[0.47ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [extreme value] complete,speed:[0.4ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [extreme value] complete,speed:[0.54ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [extreme value] complete,speed:[0.82ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [extreme value] complete,speed:[0.33ms]/it,cpu:[0%],memory:[0K]
column:[Embarked] check [extreme value] complete,speed:[0.64ms]/it,cpu:[0%],memory:[0K]
column:[__all__] check [extreme value] complete,speed:[0.27ms]/it,cpu:[0%],memory:[0K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [inverse type] complete,speed:[0.71ms]/it,cpu:[0%],memory:[0K]
column:[Name] check [inverse type] complete,speed:[0.76ms]/it,cpu:[0%],memory:[0K]
column:[Sex] check [inverse type] complete,speed:[0.43ms]/it,cpu:[0%],memory:[0K]
column:[Age] check [inverse type] complete,speed:[0.14ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [inverse type] complete,speed:[0.18ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [inverse type] complete,speed:[0.06ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [inverse type] complete,speed:[0.63ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [inverse type] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [inverse type] complete,speed:[0.29ms]/it,cpu:[0%],memory:[0K]
column:[Embarked] check [inverse type] complete,speed:[0.1ms]/it,cpu:[0%],memory:[0K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]

In [12]:
nlp.transform(x_test[:5])

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
500,501,3,calic mr petar,0.171429,17.0,0,0,0.0,8.664062,0.317829,0.334254
501,502,3,canavan miss mary,0.751351,21.0,0,0,0.0,7.750000,0.317829,0.511111
502,503,3,osullivan miss bridget mary,0.751351,0.0,0,0,0.0,7.628906,0.317829,0.511111
503,504,3,laitinen miss kristina sofia,0.751351,37.0,0,0,0.0,9.585938,0.317829,0.334254
504,505,1,maioni miss roberta,0.751351,16.0,0,0,1.0,86.500000,0.000000,0.334254

In [13]:
x_test_new.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
500,501,3,calic mr petar,0.171429,17.0,0,0,0.0,8.664062,0.317829,0.334254
501,502,3,canavan miss mary,0.751351,21.0,0,0,0.0,7.750000,0.317829,0.511111
502,503,3,osullivan miss bridget mary,0.751351,0.0,0,0,0.0,7.628906,0.317829,0.511111
503,504,3,laitinen miss kristina sofia,0.751351,37.0,0,0,0.0,9.585938,0.317829,0.334254
504,505,1,maioni miss roberta,0.751351,16.0,0,0,1.0,86.500000,0.000000,0.334254